/* Global Styles */

html,
body {
    height: 100%;
    font-family: Roboto Slab;
    overflow-x: hidden;
}

body {
    padding: 50px 0 0 0; /* Required padding for navbar */
}


.nav_logo {
  max-width: 250px;
}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}


.logo {
  width: 100%;
  padding: 25px 20px;
  background: transparent;
  opacity: 0.4;
}

.index_summary {
  margin-top: 35px;
}

.img1 {
  padding: 15px 0 15px 0;
}

.index_page_header {
  font-family: Roboto Slab;
  font-weight: bolder;
}

/*.panel-default {
  max-height: 350px;
}*/

.slogan {
  margin-top: 10px;
}

.partners {
  margin-top: 25px;
}

.media-body {
  padding-top: 10px;
  box-sizing: border-box;
}


/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}


/* Footer Styles */

footer {
    margin: 25px 0 0 0;
}

/* Responsive Styles */

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:600px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

/*    .torq_comm2_img {
      margin-top: 10px;
    }*/

/*    header.carousel .carousel {
        height: 70%;
    }*/
}
