/* Global Styles */

html,
body {
    height: 100%;
    font-family: Roboto Slab;
    font-size: 17px;
    overflow-x: hidden;
}

body {
    padding: 50px 25px 0 25px; /* Required padding for navbar */
}


.nav_logo {
  max-width: 250px;
}


.index_nav_logo {
  max-width: 350px;
}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.7;
}


header.carousel {
    height: 65%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    max-width: 80%;
    height: 100%;
    background-position: center;
    background: no-repeat;
    background-size: cover;
}

.index_summary {
  margin: 20px;
}

.index_page_header {
  font-family: Roboto Slab;
  font-weight: bolder;
}

.index-panel-default {
  min-height: 335px;
}

.about {
  font-size: 19px;
}

.slogan {
  margin-top: 35px;
  font-size: 18px;
  font-style: italic;
}

.partners {
  margin-top: 25px;
}

.media-body {
  padding-top: 10px;
  box-sizing: border-box;
}


/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}


/* Footer Styles */

footer {
    margin: 25px 0 0 0;
}

/* Responsive Styles */

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:600px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    .torq_comm2_img {
      margin-top: 10px;
    }

    header.carousel .carousel {
        height: 70%;
    }

}
